.landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    /* background: var(--bg); */
    position: relative;
}

.landing .buttoncontrol{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.landing .textpressurecontent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; /* usa vh en lugar de % si quieres ocupar toda la ventana */
    border: 1px solid red;
    background-color: aqua;
    z-index: 10;
    position: relative;
}

.landing .textpressurecontent .text-pressure-container {
    font-family: 'PF Pixelscript';
    z-index: 10;
    width: fit-content;
    pointer-events: none;
}
/* *{border: 1px solid red;} */


