.landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    background: var(--bg);
}

.landing .buttoncontrol{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    
}