.landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    /* background: var(--bg); */
    position: relative;
}

.landing .buttoncontrol{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
        font-family: 'Fracktif';
}
.landing .textpressurecontent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    /* background-color: aqua; */
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.landing .textpressurecontent .text-pressure-container {
    font-family: 'PF Pixelscript';
    z-index: 101;
    width: fit-content;
    pointer-events: none;
}
/* *{border: 1px solid red;} */


