/* *{border: 1px solid red;} */

.sectionAbout {
    top: 0;
    position: relative;
    width: 100%;
    /* height: calc(); */
    padding: 2rem 2rem;
    max-width: 65rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    /* background-color: red   ; */
    overflow-y: scroll;
    /* O overflow: auto; */
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.oculto {
    display: none;
}

.sectionAbout .explicacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1.7rem;
    margin-top: .5rem;

}

@media only screen and (max-width: 750px) {
    .sectionAbout .explicacion {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.sectionAbout .explicacion .cadaexplicacion {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.sectionAbout .texto {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.sectionAbout .explicacion .cadaexplicacion .imgAbout {
    width: 100%;
}

.sectionAbout .buttoncontrol {
    justify-content: center;
    width: 100%;
    display: flex;
}

.sectionAbout .tituloAbout {
    font-size: 3rem;
    line-height: 3.5rem;
}

@media only screen and (max-width: 750px) {
    .sectionAbout .tituloAbout {
        width: 100%;
        text-align: center;
    }
}

.sectionAbout .tituloAbout .naming {
    font-family: "PF Pixelscript";
    font-size: 3.3rem;
}