.header {
    display: flex;
    width: 100%;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-thick) solid var(--ink);
    background-image: url("../Fondo_Textura_BajaCalidad.jpg");
    background-size:cover;
}
@font-face {
    font-family: "PF Pixelscript";
    src: url("../../assets/PFPixelscriptPro-subset.otf") format("opentype");
}
.header .titulo{
    text-decoration: none;
    transition: 150ms ease-in-out;
    font-size: 2rem;
    font-family: "PF Pixelscript";
    letter-spacing: 1px;
    padding-top: 0.5rem;
}
.header .s{ color: var(--ink); }
.header .n{ color: var(--ink); }

.header .titulo:hover{
    opacity: 10%;
}

.header .enlaces { display: flex; gap: 0.5rem; }

.header .enlaces .enlace{
    /* color: var(--ink); */
    text-decoration: none;
    transition: 120ms ease-in-out;
    padding: 0.25rem 0.5rem;
    border: var(--border-thick) solid transparent;
    font-family: "Fracktif"
}

.header .enlaces .rojo:hover{
    color: #9f291a;
}

.header .enlaces .enlaceseleccionado.rojo:hover{
    border: var(--border-thick) solid #9f291a;
}

.header .enlaces .beige:hover{
    color: #f1b55b;
}

.header .enlaces .enlaceseleccionado.beige:hover{
    border: var(--border-thick) solid #f1b55b;
}

.header .enlaces .verde:hover{
    color: #076122;
}

.header .enlaces .enlaceseleccionado.verde:hover{
    border: var(--border-thick) solid #076122;
}

.header .enlaces .enlaceseleccionado{ border-color: var(--ink); }