.ModalDatos{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.333);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.oculto{
    display: none;
}
.ModalDatos .ModalDatosContent{

    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    max-width: 40rem;
    max-height: fit-content;
    background-color: rgb(255, 255, 255);
    padding: 1rem;

}
.ModalDatos .ModalDatosContent form{
    display: flex;
    gap: 0.5rem;
    flex-flow: column;
    /* border: 1px solid red; */
    /* height: 100%; */
}

.ModalDatos .ModalDatosContent form input{
    padding: .5rem;
    border: 1px solid #bbb;
    /* height: 100%; */
}

.ModalDatos .ModalDatosContent form input:focus{
    border: none;
    box-shadow: none;
    outline: none;
    border: 1px solid black;
    /* background-color: red; */
}


.ModalDatos .ModalDatosContent form .buttoncontrol{
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

.ModalDatos .ModalDatosContent form #mensajeError{
    color: red;
    font-size: 0.8rem;
}

.ModalDatos .ModalDatosContent form .hidden{
    opacity: 0%;
}