*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.colocador{
    /* border: 1px solid red; */
    height: calc(100vh - 82px);
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    /* background-image: url("../public/fondo3.jpg"); */
    background-size:cover;
}

